@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}
* {
  font-family: "Outfit";
}
.font-playfair {
  font-family: Playfair !important;
}

/* Scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* or any size you prefer */
}

/* Scrollbar background */
::-webkit-scrollbar-track {
  background: #fffdfd; /* light grey */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888; /* dark grey */
  border-radius: 10px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
